.DateRangePicker {
  @include mq($until: md) {
    padding-left: .3rem;
  }
}

.CalendarDay {
  &--selected-span {
    background-color: $brand-color-light;
    border-color: white;
  }
  &--hovered {
    border-color: white !important;
  }
}

.DateInput__display-text--focused {
    background: $brand-color-light;
    border-color: $brand-color-light;
    color: white;
}

.DateRangePickerInput {
  border: none;
  @include mq(md) {
    background-color: $light-grey;
    color: $dark-grey;
  }
}

.DateInput {
  padding: 0;
  @include mq(md) {
    background-color: $light-grey;
    color: $dark-grey;
  }
}

.DateRangePickerInput__clear-dates:focus,
.DateRangePickerInput__clear-dates--hover {
  background: white;
}
