.CalendarDay {
  &--selected-span {
    background-color: $brand-color-light;
    border-color: white;
  }
  &--hovered {
    border-color: white !important;
  }
}

.DateInput__display-text--focused {
    background: $brand-color-light;
    border-color: $brand-color-light;
    color: white;
}

.DateRangePickerInput {
  border: none;
}

.DateInput {
  padding: 0;
}

.DateRangePickerInput__clear-dates:focus,
.DateRangePickerInput__clear-dates--hover {
  background: white;
}
