.filters {
  background-color: white;
  padding-top: $header-height + .4rem;
  position: fixed;
  width: 100%;
  z-index: 7;
  @include mq(md) {
    background-color: $light-grey;
    padding-top: $header-height + .7rem;
  }
  @include mq($until: md) {
    @include shadow-bottom($light-grey);
  }

  &__search {
    position: relative;
    &:after {
      color: lighten($medium-grey, 20%);
      content: "\e986";
      font-family: 'icomoon';
      left: 1.5rem;
      position: absolute;
      top: .8rem;
      @include mq(md) {
        color: $dark-grey;
      }
    }
  }

  &__search-input {
    padding-left: 3rem !important;
    @include mq(md) {
      background-color: $light-grey !important;
    }
  }
}

.no-result {
  color: lighten($medium-grey, 20%);
  font-style: italic;
  margin-top: 1em;
}
