.form {
  margin-bottom: 0;
  padding: 2rem 1rem 1rem;
  @include mq($until: md) {
    background-color: white;
  }

  hr {
    color: $medium-grey;
    margin: 1rem;
  }

  &__warning {
    color: $dark-grey;
    font-style: italic;
    left: 50%;
    margin-bottom: 0;
    margin-left: -6rem;
    position: absolute;
    text-align: center;
    top: 8rem;
    width: 12rem;
  }

  &__input-wrapper {
    background-color: white;
    margin-top: 1rem;
    position: relative;
    @include mq(md) {
      box-shadow: $box-shadow;
      margin-top: 1.5rem;
      padding: 2rem;
    }
  }

  &__input {
    border: none !important;
    &--title {
      font-size: 1.77rem;
      font-weight: bold;
    }
  }

  &__btn {
    font-size: 1.8rem;
    margin-left: 1rem;
    span {
      color: $brand-color;
    }
    @include mq(md) {
      background-color: $light-grey;
    }
  }
}
