.header {
  @include shadow-bottom(lighten($medium-grey, 20%));
  background-color: $brand-color;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9;

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  &__content-wrapper {
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.5rem 3rem;

    @include mq(md) {
      padding: 1.3rem 1.5rem 1.3rem 3rem;
    }
  }

  &__title {
    font-size: 2.2rem;
    text-align: left;
    margin: 0;
  }

  &__logout-btn {
    background-color: $brand-color;
    border: none;
    bottom: .2rem;
    color: white;
    font-size: 1.8rem;
    position: relative;
  }

  &__link {
    font-size: 2rem;
    padding-right: 1rem;
  }
}
