.note-item {
  background-color: white;
  border-bottom: 2px solid $light-grey;
  height: 10rem;
  padding: 1rem 0;

  &__content {
    color: $black !important;
    text-decoration: none !important;
  }

  &__title {
    height: 2.1rem;
    overflow: hidden;
  }

  &__p {
    height: 2.4rem;
    margin-bottom: .4em;
    overflow: hidden;
    padding-right: 1rem;
  }

  &__date {
    color: $medium-grey;
  }

  &__btn-remove {
    margin-top: -14px;
    position: absolute;
    right: 2rem;
    top: 50%;
  }
}
