.dashboard-page {
  @include mq($until: md) {
    background-color: white;
  }
  &__btn-add {
    background-color: $brand-color;
    border-radius: 50%;
    bottom: 4rem;
    box-shadow: 0px 7px 35px -10px rgba(0, 0, 0, 0.75);
    color: white;
    height: 5.6rem;
    position: fixed;
    right: 4rem;
    text-align: center;
    transition: $transition-15s;
    width: 5.6rem;
    &:hover {
      color: white;
      background-color: darken($brand-color, 10%);
    }
    @include mq($until: md) {
      bottom: 2rem;
      right: 2rem;
    }

    .icon {
      display: block;
      padding-top: 2rem;
      @include mq($until: md) {
        font-size: 2rem;
        padding-top: 1.7rem;
      }
    }
  }
}
