.info-page {
  height: 100vh;

  @include mq(md) {
  }

  @include mq($until: md) {
    background-color: white;
  }

  &__instructions {
    padding: 1.5rem 2rem 1rem;

    @include mq(md) {
      background-color: white;
      border-radius: .5rem;
      box-shadow: $box-shadow;
      margin: 3rem auto;
      width: 50rem;
    }
  }

  .flex {
    margin: 2rem 0;
  }

  &__bug {
    margin-top: 7rem !important;
  }

  &__icon {
    font-size: 2rem;
  }

  &__description {
    font-size: 1.7rem;
    margin: 0;
  }

  &__link, &__link:hover {
    color: $brand-color;
    text-decoration: none;
  }

  &__credit {
    bottom: 1rem;
    position: absolute;
    width: 100%;
  }
}
