.loading-page {
  background-color: $brand-color-light;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  &__loader {
    @include loader(.4rem, lighten($brand-color, 10%), white);
    @include mq(md) {
      @include loader(.5rem, lighten($brand-color, 10%), white);
    }
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
