html {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: $m-size;
}

.container {
  max-width: 92rem;
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding: 0;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}
