html {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
  font-size: 62.5%;
}

body {
  background-color: $light-grey;
  font-family: 'Lato', sans-serif;
  font-size: $m-size;
}

.container {
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

button {
  cursor: pointer;
}
