.btn--left {
  font-size: 1.8rem;
  position: absolute;
  top: 2rem;
  right: $m-size;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.btn-link {
  background-color: white;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
}
