.btn-link {
  background-color: white;
  border: none;
}

.container-sml {
  @extend .container;
  max-width: 80rem;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.grey-page {
  background-color: $light-grey;
  min-height: 100vh;
  padding-top: $header-height;
}

.mobile-hide {
  @include mq($until: md) {
    display: none;
  }
}

.mobile-show {
  @include mq(md) {
    display: none;
  }
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.white-bg {
  background-color: white;
}
